

.custom--cl, .service-card__icon i, .choose-card__icon i, .overview-card__icon i, .ratings i, .footer-info-list i, .header .main-menu li a:hover, .header .main-menu li a:focus, a:hover, .header .main-menu li.menu_has_children:hover > a::before, .plan-feature-list li::before, .bottom-menu ul li a:hover, .bottom-menu ul li a.active, .header .main-menu li a:hover, .header .main-menu li a:focus, .header .main-menu li a.active, .dl__corner--top:before,
.dl__corner--top:after,
.dl__corner--bottom:before,
.dl__corner--bottom:after, .account-short-link li a:hover, .custom--checkbox input:checked~label::before{
    color: #090438;
}

.btn--base, plan-card__header, .bg--base, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .dl__square, .plan-card__header{
    background: #090438!important;
}

.feature-card i, .text--base, .page-breadcrumb li a:hover,.subscribe-form .form--control:focus ~ i {
    color: #090438 !important;
}

.custom--bg, .feature-card::after, .testimonial-item, .section-top-title.border-left::before, .about-thumb .video-icon, .service-section, .how-work-card__step::before, .overview-section::after, .loan-card, .gradient--bg, .btn--gradient::before, .custom--accordion .accordion-button:not(.collapsed), 
.btn-outline--gradient, .pagination .page-item.active .page-link {
    background: #090438;
}

.overview-section, .testimonial-item::before, .header.menu-fixed .header__bottom, .footer, .account-wrapper .left, .btn--dark, .btn--dark:hover, .registration-wrapper .top-content, .btn--base-2, .custom--table thead, .account-section-right, .account-section-right::before, .account-section-right::after, .how-work-card__step, .btn-outline--gradient::before, .choose-card, .dark--overlay::before, .dark--overlay-two::before, .plan-card .fdr-badge, .beneficiary-card .nav-tabs .nav-link{
    background: #073804;
}

.section--bg2 {
    background-color: #073804!important;
}

.custom--accordion .accordion-item, #preloader:before {
    border: 1px solid #090438;
}

.form--control:focus, .border--base, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .expired-time-circle::before {
    border-color: #090438!important
}

.custom--btn{
    color: white;
    background: #090438;
}

.btn:hover{
    color: white;
}

.btn-primary{
    background: #090438;
    border-color: #090438;
}

.btn-primary:hover{
    background: #090438;
    border-color: #090438;
}

.header__bottom{
    background-color: #0738048c;
}

.pagination .page-item .page-link{
    border: 1px solid #09043840;
}

.pagination .page-item .page-link:hover{
    border: 1px solid #090438;
}

.pagination .page-item .page-link:hover, .header .main-menu li .sub-menu li a::before{
    background-color: #090438;
}

.page-link:focus{
    box-shadow: 0 0 0 0.25rem #09043840 !important;
}

.btn-check:focus+.btn-primary, .btn-primary:focus{
    background-color: #090438;
    border-color: #090438 !important;
}

.header .main-menu li.menu_has_children > a::before, .contact-info-card__icon i{
    color: #090438;
}

.header .main-menu li .sub-menu li a:hover, .page-breadcrumb li:first-child::before{
    color: #090438;
}

.plan-card{
    border-bottom: 3px solid #090438;
}

.service-card__icon {
    background-color: #09043826 !important;
}
.feature-card .icon {
    background-color: #09043826 !important;
}

.custom--accordion .accordion-button {
    background-color: #0904380d;
}

.overview-card__icon i {
    background: #090438;
    background: -webkit-linear-gradient(-103deg, #090438 0%, #090438 35%, #090438 76%, #090438 100%);
    background: linear-gradient(-103deg, #090438 0%, #090438 35%, #090438 76%, #090438 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section--bg {
    background-color: #09043812;
}

@media (max-width: 991px) {
    .header__bottom {
        background-color: #073804;
    }
}

.account-form .form--control, .account-form .select {
    background-color: #073804ef;
}

.subscribe-section{
    background-color: #073804f7;
}